*{
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 100%;
    border: solid  black 1px 
}
.arbol_cont{
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: black;
    
    }
.estrella{
    font-size: 35px;
    width: 100%;
    height: 35px; 
    animation: color infinite linear 2s 
}
.parrafo{
    font-size: 30px;
    animation: color infinite linear 3s

}

@keyframes color{
    0%{color: rgb(255,0, 0)}
    25%{color: rgb(255, 255, 255)}
    50%{color: rgb(29,122, 0)}
    85%{color: rgb(175, 235, 8)}
    100%{color: rgb(255,0, 0)}
}
